* {box-sizing: border-box;}

body {
    background: #111518;
    margin: 0;
  }

canvas {
    display: block;
}

/* ---- particles.js container ---- */
#particles-container {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}
  /* Image by Patrick Fore on Unsplash */

.block {
    background: #111518;
	background-size: 400% 400%;
	
    box-sizing: border-box;
    overflow: hidden;
    padding: 20px 10px;
    width: 100vw;
    height: 500px;
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.main {
    color: #dadada;
    font-family: 'Inter', sans-serif;
    text-align: left;
    margin-left: 65px;
    font-size: 55px;
    margin-top: 300px;
    font-weight: 700;
}

.subx {
    color: #dadada;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    font-family: 'Inter', sans-serif;
    background-size: 400% 400%;
    border-radius: 8px;
    border-style: none;
    font-size: 16px;
    padding: 6px;
    width: 100px;
    margin-top: 30px;
    font-weight: 700;
    display: inline;
}

div {
    color: #dadada;
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-size: 16px;
    margin-left: 65px;
    margin-right: auto;
    font-weight: 700;
}

.x {
    background-color: #dadada;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.circle {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-left: 1100px;
    position: absolute;
    display: inline;
    top: 24%;
  }


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.fade-in-top {
	animation: fade-in-top 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.focus-in-contract-bck {
	animation: focus-in-contract-bck 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in-bottom {
	animation: fade-in-bottom 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@keyframes fade-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

 @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      transform: translateZ(300px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(12px);
      filter: blur(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
