:root {
    
    /* Color Vars*/
    --main: #111518;
    --color-light: #dadada;
    --color-gray: #B2BECD;
    --color-dark: #242d33;
    --color-none: rgba(255, 255, 255, 0);
    --color-rgb: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --color-gradient: linear-gradient(-45deg, #FFC796 0%, #FF6B95 100%);
    --font-source: 'Source Code Pro', monospace;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    border-color: var(--color-none) !important;
    background-color: var(--color-none);
    transition: 0.5s;
}

body {
    width: calc(100vw -3px);
    height: 100vh;
    background-color: var(--main);
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

.fas {
    background-color: var(--color-none);
}

.fab {
    background-color: var(--color-none);
}

.blob-main {
    left:280.3px; 
    top: 300px;
    display: flex;
    position: absolute;
    background-color: var(--color-light);
    z-index: 1;
    animation: example 10s infinite ease-in-out;
    animation-delay: 2s;
    width: 15px;
    height: 15px;
}

.header {
    z-index: 2;
    border: 1px solid blue;
    padding: 0px 65px 0px;
}

.menu {
    padding: 10px 0px 0px;
    border: 1px solid brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-menu-darkmode {
    background-color: var(--color-none);
    border-style: none;
    color: var(--color-gray);
    
}

.btn-menu-darkmode:hover {
    transition: .3s;
    cursor: pointer;
    opacity: 70%;
}

.btn-menu-hamburger {
    background-color: var(--color-none);
    border-style: none;
    color: var(--color-gray);
    transition: .3s;
}

.btn-menu-hamburger:hover {
    cursor: pointer;
    opacity: 70%;
}

.apresentation {
    border: 1px solid red;
    padding: 200px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentation-box-text {
    border: 1px solid white;
}

.apresentation-box-obj {
    border: 1px solid yellow;
}

.pre-apresentation-text {
    margin-left: 4px;
    font-size: 16px;
    color: var(--color-dark);
    font-family: 'Source Code Pro', monospace;
}

.apresentation-text {
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
    font-size: 100px;
    padding: 0px 0px;
    color: var(--color-light);
    border: 1px solid purple;
    
}

.s-letter {
    transition: 0.5s;
    font-size: 100px;
    background-color: var(--color-none);
}

.s-letter:hover {
    color: #FF7B95;
}

.pre-apresentation-sub-text {
    padding: 0px 0px 10px;
    font-size: 16px;
    color: var(--color-gray);
    font-style: normal;
}

.apresentation-sub-text {
    font-size: 16px;
    color: var(--color-gray);
    border: 1px solid orange;
}

.apresentation-sub-text-special {
    font-size: 16px;
    background: var(--color-rgb);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    border-radius: 7px;
    padding: 4px 5px;
    color: var(--main);
    
}

.apresentation-obj {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--color-gradient);
}

.separator-mid {
    padding: 300px 65px 80px;
    border: 1px solid lime;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-mid {
    border: 1px solid aqua;
    background-color: var(--color-dark);
    border-radius: 50px;
    width: 100%;
    height: 3px;
}

.mid {
    border: 1px solid cadetblue;
    padding: 100px 65px;
}

.mid-text {
    margin-top: 25px;
    margin-left: -100px;
    margin-bottom: 20px;
    border: 1px solid greenyellow;
    font-size: 35px;
    color: var(--color-gray);
}

.mid-text-special {
    color: var(--main);
    font-size: 35px;
}

.mid-sub-txt {
    margin-left: 100px;
    margin-right: 250px;
    border: 1px solid red;
    font-size: 16px;
    color: var(--color-gray);
    text-align: center;
}

.mid-sub-txt-reference {
    background: var(--color-rgb);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    border-radius: 3.5px;
    padding: 2px 5px;
    color: var(--main);
    font-size: 16px;
}

.fa-external-link-alt {
    font-size: 15px;
    margin-left: 4px;
}

.mid-box-item {
    margin-top: 10px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-item {
    margin-left: 100px;
    height: 150px;
    width: 3px;
    border-radius: 50px;
    background: var(--color-gradient);
}

.mid-obj {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: 3px solid var(--color-dark) !important;
}

.mid-box-txt-main {
    border: 1px solid purple;
    display: flex;
    align-items: center;
}

.mid-section {
    padding: 200px 0px 0px 0px;
    border: 1px solid white;
}

.mid-section-box-main-text {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px;
}

.mid-section-box-one-text {
    border: 1px solid red;
    color: var(--color-light);
    font-size: 35px;
    font-family: var(--font-source);
}

.mid-icon {
    color: var(--color-light);
    font-size: 30px;
}

.mid-icon-refe {
    font-size: 20px;
    color: var(--main);
}

.mid-icon-refe:hover {
    color: rgb(168, 95, 250);
}

.mid-section-box-two {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.mid-section-project-one {
    border-radius: 5px;
    border: 1px solid yellow;
    padding: 15px 15px;
    background-color: var(--color-dark);
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;
    margin-right: 15px;
    box-shadow: 0px 4px 11px -3px #000000;
    display: block;
}

.mid-section-po-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.mid-section-po-mid {
    margin-top: 40px;
}

.mid-section-po-text {
    background-color: var(--color-none);
    font-size: 18px;
    color: var(--color-light);
    font-family: var(--font-source);
}

.mid-section-po-sub-text {
    margin-top: 20px;
    font-size: 15px;
    min-height: 140px;
    max-height: 140px;
    max-width: auto;
    min-width: auto;
    color: var(--color-gray);
    font-family: var(--font-source);
}

.mid-section-po-footer {
    margin-top: 0px;
}

.mid-po-footer-txt {
    font-size: 14px;
    color: var(--main);
    font-family: var(--font-source);
}

.mid-section-project-two {
    border-radius: 5px;
    border: 1px solid lime;
    padding: 15px 15px;
    background-color: var(--color-dark);
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;
    box-shadow: 0px 4px 11px -3px #000000;
}
.mid-section-pt-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.footer {
    border: 1px solid blue;
    padding: 50px 65px 20px;
    align-items: center;
    justify-content: center;
}

.footer-text {
    border: 1px solid pink;
    margin-bottom: 5px;
    color: var(--color-dark);
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer-box-icon {
    border: 1px solid white;
    color: var(--color-dark);
    align-items: center;
    justify-content: center;
    display: flex;
}

i {
    background-color: var(--color-none);
    margin-left: 10px;
}
